.page-title
  %h1= "Treatment Details"

  = link_to "Edit", "/fields/#{@field.id}/treatments/#{@treatment.id}/edit", class: "btn"
  = link_to "Delete", "/fields/#{@field.id}/treatments/#{@treatment.id}", method: :delete, data: { confirm: "Are you certain you want to delete #{@treatment.supply.name} entry?" }, class: "btn"

.treatment-container
  %h4= "Field: "
  %p.number-good= "#{@field.name}"
  .clear
  %h4= "Application: "
  %p.number-good= "#{@treatment.supply.name}"
  .clear

  %h4= "Measurement: "
  %p.number-good= "#{@treatment.supply.measure}"
  .clear

  %h4= "Total Applied: "
  %p.number-good= "#{@treatment.quantity}"
  .clear

  %h4= "Total Applied Per Acre: "
  %p.number-good= "#{(@treatment.quantity / @field.acreage)}"

  .border
  %h4= "Unit Cost: "
  %p.number-good= "#{number_to_currency(@treatment.supply.unit_cost)}"
  .clear

  %h4= "Cost Per Acre: "
  %p.number-good= "#{number_to_currency(@treatment.supply.unit_cost * (@treatment.quantity / @field.acreage))}"
  .clear

  %h4= "Total Cost: "
  %p.number-good= "#{number_to_currency(@treatment.supply.unit_cost * @treatment.quantity)}"
  .clear
