%h2= "Treatment Details"

= link_to "Edit", "#{@field.id}/treatments/#{@treatment.id}/edit"
= link_to "Delete", "#{@field.id}/treatments/#{@treatment.id}", method: :delete, data: { confirm: "Are you certain you want to delete #{@treatment.supply.name} entry?" }

%h4= "Field: #{@field.name}"
%h4= "Application: #{@treatment.supply.name}"
%h4= "Measurement: #{@treatment.supply.measure}"
%h4= "Total Applied: #{@treatment.quantity}"
%h4= "Total Applied Per Acre: #{(@treatment.quantity / @field.acreage)}"
%h4= "Unit Cost: #{number_to_currency(@treatment.supply.unit_cost)}"
%h4= "Cost Per Acre: #{number_to_currency(@treatment.supply.unit_cost * (@treatment.quantity / @field.acreage))}"
%h4= "Total Cost: #{number_to_currency(@treatment.supply.unit_cost * @treatment.quantity)}"
