%h1 Supplies

= link_to "Add Purchase", new_supply_path

- if @supplies.empty?
  %p You currently have not purchased any supplies
  = link_to "Add your first purchase", new_supply_path

.row
  %h2 
    = link_to "Chemicals", chemicals_path
  %p= "#{number_to_currency(@chemical_total)}"

.row
  %h2
    = link_to "Fertilizer", fertilizers_path
  %p= "#{number_to_currency(@fertilizer_total)}"

.row
  %h2
    = link_to "Seed", seeds_path
  %p= "#{number_to_currency(@seed_total)}"

.row
  %h2
    = link_to "Other", other_supplies_path
  %p= "#{number_to_currency(@other_total)}"

.row
  %p= "Total Cost: #{number_to_currency(@total)}"

%ul
  - @supplies.each do |supply|
    %li
      = link_to "#{supply.name}", edit_supply_path(supply)