%h1 Supplies

= link_to "Add Purchase", new_supply_path

- if @supplies.empty?
  %p You currently have not purchased any supplies
  = link_to "Add your first purchase", new_supply_path

.row
  %h2 
    = link_to "Chemicals", 'supplies/chemical'
  %p= "#{number_to_currency(@chemical_total)}"

.row
  %h2
    = link_to "Fertilizer", 'supplies/fertilizer'
  %p= "#{number_to_currency(@fertilizer_total)}"

.row
  %h2
    = link_to "Seed", 'supplies/seed'
  %p= "#{number_to_currency(@seed_total)}"

.row
  %h2
    = link_to "Other", 'supplies/other_supplies'
  %p= "#{number_to_currency(@other_total)}"

.row
  %p= "Total Cost: #{number_to_currency(@total)}"