.page-title
  %h1 SUPPLIES

  = link_to "Add Purchase", new_supply_path, class: "btn"

- if @supplies.empty?
  %p You currently have not purchased any supplies
  = link_to "Add your first purchase", new_supply_path, class: "btn-big"

.supply-title
  %h2 
    = link_to "Chemicals", 'supplies/chemical', class: "supply-kind"
    = link_to "SHOW ALL", 'supplies/chemical', class: "btn"
  %p.amount= "#{number_to_currency(@chemical_total)}"

.supply-title
  %h2
    = link_to "Fertilizer", 'supplies/fertilizer', class: "supply-kind"
    = link_to "SHOW ALL", 'supplies/fertilizer', class: "btn"
  %p.amount= "#{number_to_currency(@fertilizer_total)}"

.supply-title
  %h2
    = link_to "Seed", 'supplies/seed', class: "supply-kind"
    = link_to "SHOW ALL", 'supplies/seed', class: "btn"
  %p.amount= "#{number_to_currency(@seed_total)}"

.supply-title
  %h2
    = link_to "Other", 'supplies/other_supplies', class: "supply-kind"
    = link_to "SHOW ALL", 'supplies/other_supplies', class: "btn"
  %p.amount= "#{number_to_currency(@other_total)}"

.total
  %p.total-cost= "Total Cost: "
  %p= "#{number_to_currency(@total)}"
