%h1 Fields

= link_to "Add New Field", new_field_path

- if @fields.empty?
  %p You currently don't have any fields.
  = link_to "Add your first field!", new_field_path

.row
  %ul.fields-headers
    %li= "Name"
    %li= "Acreage"
    %li= "Crop"

  - @fields.each do |field|
    %ul.fields-entry
      %li
        = link_to "#{field.name}", field_path(field), class: "field-name"
      %li= field.acreage
      %li= field.crop
      %li
        = link_to "Edit", edit_field_path(field)
      %li
        = link_to "Delete", field_path(field), method: :delete, data: { confirm: "Are you certain you want to delete #{field.name}?" }

.row
  %p= "Total Acreage: #{@total_acreage} acres"
  %p= "Projected Revenue (based on 175 bushels/acre): #{number_to_currency(@projected_revenue)}"
  %p= "Total Harvested Income: #{number_to_currency(@total_income)}"