%h2= "#{@field.name}"
= link_to "Edit", edit_field_path
= link_to "Delete", field_path, method: :delete, data: { confirm: "Are you certain you want to delete #{@field.name}?" }

%p= "Acreage: #{@field.acreage}"
%p= "Crop: #{@field.crop}"
-# - if @field.crop_price
-#   %p= "Crop Price: number_to_currency(#{@field.crop_price})"
-# - else
%p= "Crop Price: No crop price data available"

%h3= "Records"
= link_to "Add entry", "/fields/#{@field.id}/treatments/new"

.row
  - if @treatments.length > 0
    %ul.treatments
      %li= "Application"
      %li= "Date"
      %li= "Measurement"
      %li= "Total Applied"
      %li= "Total Applied Per Acre"
      %li= "Unit Cost"
      %li= "Cost Per Acre"
      %li= "Total Cost"
    - @treatments.each do |treatment|
      %ul.treatments
        %li= treatment.supply.name
        %li= treatment.date.strftime("%Y-%m-%d")
        %li= treatment.supply.measure
        %li= treatment.quantity
        %li= (treatment.quantity / @field.acreage)
        %li= number_to_currency(treatment.supply.unit_cost)
        %li= number_to_currency(treatment.supply.unit_cost * (treatment.quantity / @field.acreage))
        %li= number_to_currency(treatment.supply.unit_cost * treatment.quantity)
  - else
    %p= "You currenty have no treatment records for your field."
    = link_to "Add your first entry", "/fields/#{@field.id}/treatments/new"

%p= "NOTES: #{@field.notes}"
%p= "Total Field Cost: #{number_to_currency(@total_field_cost)}"

.row
