.page-title
  %h3 FIELD
  %i.glyphicon.glyphicon-play
  %h1.name= "#{@field.name.upcase}"
  = link_to "Delete", field_path, method: :delete, data: { confirm: "Are you certain you want to delete #{@field.name}?" }, class: "btn"
  = link_to "Edit", edit_field_path, class: "btn"

.field-info
  .row
    .col-sm-6
      %p.label= "Crop: "
      %p.value= "#{@field.crop}"
    .col-sm-6
      %p.label= "Acreage: "
      %p.value= "#{@field.acreage}"
    
  .border

  .row  
    .col-sm-6
      %p.label= "Crop Price: "
      %p.value= "#{number_to_currency(@field.crop_price)}"
    .col-sm-6
      %p.label.small= "Estimated Field Revenue (based on 175 bushel/acre yield): "
      %p.value= "#{number_to_currency(@projected_revenue)}"

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#pane1"} Treatment Records
    %li
      %a{"data-toggle" => "tab", :href => "#pane2"} Harvest Loads

  .tab-content
    #pane1.tab-pane.active
      .field-table
        = link_to "Add entry", "/fields/#{@field.id}/treatments/new", class: "btn"
        .border
        - if @treatments.length > 0
          %table.treatments-list
            %thead
              %tr
                %th= "Application"
                %th= "Date"
                %th= "Measurement"
                %th= "Total Applied"
                %th= "Total Applied Per Acre"
                %th= "Unit Cost"
                %th= "Cost Per Acre"
                %th= "Total Cost"
                %th
                %th
            %tbody
              - @treatments.each do |treatment|
                %tr.treatments-entry
                  %td
                    =link_to "#{treatment.supply.name}", "#{@field.id}/treatments/#{treatment.id}"
                  %td= treatment.date.strftime("%Y-%m-%d")
                  %td= treatment.supply.measure
                  %td= treatment.quantity
                  %td= (treatment.quantity / @field.acreage)
                  %td= number_to_currency(treatment.supply.unit_cost)
                  %td= number_to_currency(treatment.supply.unit_cost * (treatment.quantity / @field.acreage))
                  %td= number_to_currency(treatment.supply.unit_cost * treatment.quantity)
                  %td
                    = link_to "Edit", "#{@field.id}/treatments/#{treatment.id}/edit"
                  %td
                    = link_to "Delete", "#{@field.id}/treatments/#{treatment.id}", method: :delete, data: { confirm: "Are you certain you want to delete #{treatment.supply.name} entry?" }
        - else
          %p= "You currenty have no treatment records for your field."
          = link_to "Add your first entry", "/fields/#{@field.id}/treatments/new", class: "btn"

    #pane2.tab-pane
      .field-table
        = link_to "Add Harvest Load", "/fields/#{@field.id}/harvest_loads/new", class: "btn"
        .border
        - if @field.harvest_loads.length > 0
          %table.loads-list
            %thead
              %tr
                %th= "Date"
                %th= "Receipt Number"
                %th= "Price Per Bushel"
                %th= "Bushels Sold"
                %th= "Income"
                %th
                %th

            %tbody
              - @field.harvest_loads.each do |load|
                %tr.loads-entry
                  %td= load.date.strftime("%Y-%m-%d")
                  %td= load.receipt_number
                  %td= number_to_currency(load.price_per_bushel)
                  %td= load.bushels_sold
                  %td= number_to_currency(load.bushels_sold * load.price_per_bushel)
                  %td
                    = link_to "Edit", "#{@field.id}/harvest_loads/#{load.id}/edit"
                  %td
                    = link_to "Delete", "/fields/#{@field.id}/harvest_loads/#{load.id}", method: :delete, data: { confirm: "Are you certain you want to delete harvest record?" }
        - else
          %p= "You currenty have no harvest records for your field."
          = link_to "Add your first load", "/fields/#{@field.id}/harvest_loads/new", class: "btn"
.field-totals
  .row
    .col-sm-4
      - if @field.notes
        %p= "NOTES: "
        %p.notes= "#{@field.notes}"
    .col-sm-8.field-total
      %p= "Total Field Cost:"
      %p.number-good= "#{number_to_currency(@total_field_cost)}"
      %p= "Total Harvested Income:"
      %p.number-good= "#{number_to_currency(@total_income)}"
